* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_5 {
  width: 50%;
  height: 326px;
  background: url("../../v1_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_2 {
  width: 50%;
  height: 326px;
  background: url("../../v1_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_3 {
  width: 85px;
  height: 56px;
  background: url("../../public/v1_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 245px;
  left: 425px;
  overflow: hidden;
}
.v1_4 {
  width: 100%;
  color: rgb(159, 159, 159);
  position: absolute;
  top: 65px;
  left: 147px;
  font-family: Lohit Bengali; /* to do: change font family*/
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
