/* Heart Box UI styling sheet self contained*/


.heartbox-heart { /* heart box styling*/
    width: 32px;
    height: 32px;
    background: url('/tiles.png') no-repeat center center;
    background-size: contain;
    position: absolute;
    top: 10px;
    left: 0;

}

/* Parent Top Right UI Div (hearts + menu) */
#top-right-ui {
    position: absolute;
    top: 10px;
    right: 0;
    width: 100%; /*optional */
    height: 100%; /*optional */
    pointer-events: auto;
    z-index: 1000; /* Higher layer */
}
