/* Heart Box UI styling sheet self contained*/


.heartbox-heart { /* heart box styling*/
    width: 32px;
    height: 32px;
    background: url('/tiles.png') no-repeat center center;
    background-size: contain;
    position: absolute;
    top: 10px;
    left: 0;

}
