/* Ingame Menu Styling Sheet self contained*/
.menu-container {
    display:block;
    background: ("/kenny ui-pack/grey_crossGrey.png");
    width: auto;
    height: auto;
    padding: 30px;

    z-index: 1000;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: auto;
    z-index: 1001; /* high enough to be above game canvas */
}

.menu-option {
    display: block;
    font-size: 48px;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background: #ffffff;
    transition: background 0.3s, transform 0.2s;
    pointer-events: auto;

}

.menu-option:hover {
    background: #808080;
    transform: scale(1.1);
}
