/* 
    CSS Stylesheet
    Separate Each element into Different Layers in The CSS Style Sheet 
    
    (1) Background Layer Is Set To transparent
    (2) Contains styling for the inventory UI
    */
body {
    margin: 0;
    overflow: hidden;
    font-family: 'Comic Andy';
    src: url("./Comic_Andy.ttf");
    background-color: #111;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    text-align: center;
    margin: 0;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#background-layer {
    z-index: -1;
    /* Rendered at the bottom */
    background: #ffffff;
    /* Example background color */
}

#threejs-layer {
    z-index: 0;
    /* Three.js canvas in the middle */
}

#littlejs-2d-layer {
    z-index: 1;
    /* LittleJS or 2D overlay on top */
}

#littlejs-ui-layer {
    z-index: 2;
    /* LittleJS or 2D overlay on top */
    pointer-events: none;
    /* Allow clicks to pass through */
}

#ad-container {
    z-index: 3;
}



@font-face {
    font-family: 'Comic Andy';
    src: url('./Comic_Andy.ttf') format('truetype');
}



/* Left Column */
#left-buttons {
  position: absolute;
  top: 50px;
  right: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* optional: aligns buttons to the right */
  gap: 10px; /* optional: space between buttons */
  pointer-events: auto;
  z-index: 1001; /* Higher layer */
}






h1 {
    font-size: 36px;
    margin-bottom: 20px;
}


.hidden {
    display: none !important;
}

.ui-panel {
    position: absolute;
    pointer-events: none;
}

#ui-gamehud {
    position: absolute;
    top: 10px;
    right: 0;
    width: 100%; /*optional */
    height: 100%; /*optional */
    pointer-events: auto;
}

.ui-button {
    margin: 0;
    padding: 0;
    pointer-events: auto;
    width: 60px;   /* adjust to desired size */
    height: 60px;
    padding: 0;
    border: none;
    background: none no-repeat center center;
    margin: 0;
    cursor: pointer;
    z-index: 1000;

    
}




#button{ /* yandex ads button texting*/
    z-index: 5;
    pointer-events: auto;
}

.dialog-box-content {
    background: white;
    color: black;
    padding: 10px;
    font-size: 12px;
}

.hidden {
    display: none;
}

.wallet-tab, .map-tab, .quests-tab, .stats-tab {
    padding: 1em;
    font-family: 'sans-serif';
}

.map-image {
    width: 100%;
    border-radius: 12px;
    margin-top: 0.5em;
    max-width: 600px;

}

#debug {
    pointer-events: none;
    z-index: 2;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.7);
    color: #0f0;
    font-size: 12px;
    z-index: 9999;
    padding: 4px;
    box-sizing: border-box;
    font-family: monospace;
    line-height: 1.2;
}

